body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eee;
  color: #000;
}

.navbar-laravel {
  background-color: #eee;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.04);
}

.navbar-brand {
  color: #000 !important;
}

.nav-link {
  color: #000 !important;
}

.table-dark {
  color: #000;
}

.list-group-item {
  border-color: #000;
  background-color: #eee;
}

.login-box {
  background-color: rgba(238, 238, 238, 0);
}

.login-header {
  background-color: rgba(238, 238, 238, 0.25)
}

.login-body {
  background-color: rgba(238, 238, 238, 0.25);
}


// 打刻・日報


// 連絡


// カレンダー
.calendar {
    margin-top: 20px;
    h3 {
        margin-bottom: 30px;
    }
    th {
        height: 30px;
        text-align: center;
    }
    td {
        height: 100px;
        position: relative;
        a {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          p {
            margin: 4px auto;
            text-align: center;
          }
        }
        a:hover {
          background-color: #FFFFCC;
        }
    }
    .today {
        background: skyblue;
    }
    th:nth-of-type(1), td:nth-of-type(1) {
        color: red;
    }
    th:nth-of-type(7), td:nth-of-type(7) {
        color: blue;
    }
}
