// general（一般ユーザ）ページ ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
.gen-avatar {
    text-align: center;
}
.no-image {
    width: 150px;
    height: 150px;
}
.gen-avatar img {
    width: 100%;
    max-width: 150px;
    object-fit: contain;
}
h5 {
    margin: 10px 0 20px;
}
#toda {
    font-size: 18px;
}
#realtime {
    font-size: 40px;
}
.punch {
    text-align: center;
}
.time p {
    font-size: 40px;
    text-align: center;
    margin: 0;
}

// general/report（日報一覧）ページ ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
.punch-newest {
    font-size: 16px;
}
.th-gr-1 {
    min-width: 100px;
}
.th-gr-2, .th-gr-3 {
    min-width: 90px;
}
.th-gr-4 {
    min-width: 150px;
}
.th-gr-5 {
    min-width: 200px;
}
.th-gr-6 {
    min-width: 60px;
}

// general/work（案件一覧）ページ ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
.th-gw-1 {
    min-width: 150px;
}
.th-gw-2 {
    min-width: 200px;
}
.th-gw-3 {
    min-width: 100px;
}
// レスポンシブ ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
// 576px 以上のスタイル
@media (min-width: 576px) {

}
// 768px 以上のスタイル
@media (min-width: 768px) {
    h5 {
        margin-bottom: 0;
    }
}
// 992px 以上のスタイル
@media (min-width: 992px) {
    .time p {
        font-size: 50px;
    }
}
// 1200px 以上のスタイル
@media (min-width: 1200px) {
    #realtime {
        font-size: 50px;
    }
    .calendar .badge {
        width: 80%;
        margin: 0 10%;
    }
}