body {
  background-color: #eee;
}

.navbar a {
  color: #000;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 700;
}

.navbar-toggler {
  border-color: black;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.back {
  background-image: url(/images/top.jpg?4074260ee7f8b413cd0befe1a45235bf);
  background-repeat: no-repeat;
  background-position: 50% 75%;
  position: relative;
}

.back::before {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: " ";
}

.left {
  color: #fff;
  text-align: center;
  text-shadow: 3px 3px 8px #111;
}

.left h1 {
  font-weight: 700;
}

.left p {
  font-size: 20px;
  font-weight: 700;
}

.new-account {
  background-color: #237dc7;
  margin: 4px auto 40px;
}

.new-account a {
  color: #fff;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.login-box,
.form-control {
  background-color: #eee;
}

.right .login-body {
  text-align: center;
}

.right #li {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.explain {
  text-align: center;
}

.explain p {
  margin-bottom: 0;
}

